.over {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column: 1/11;
    grid-row: 1/11;
}

.over span {
    display: inline-block;
    margin-bottom: 1rem;
}

.over button {
    width: 100%;
    border: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

.over button:hover {
    opacity: .8;
    transition: .3s ease all;
}
