.item, .snaked, .head, .apple {
    transition: .3s ease;
}

.item {
    background: #abbaba;
}

.snaked {
    background: #403636;
}

.head {
    background: #286666;
}

.apple {
    background: #a14545;
}
